// Package {{.PackageName}} 自动生成模板 {{.StructName}}Dao
// @description <TODO description class purpose>
// @author {{.Author}}
// @File: {{.FileName}}
// @version 1.0.0
// @create {{.DateTime}}
package {{.PackageName}}

import (
    "{{.ImportPath}}/common"
    "{{.ImportPath}}/global"
)

// {{.StructName}}Dao 结构体

type {{.StructName}}Dao struct { }

// Create 创建{{.StructName}}记录
// Author {{.Author}}
func (dao *{{.StructName}}Dao) Create({{.ObjectName}} {{.StructName}}) (err error) {
    err = global.GOrmDao.Create(&{{.ObjectName}}).Error
    return err
}

// DeleteByIds 批量删除{{.StructName}}记录
// Author {{.Author}}
func (dao *{{.StructName}}Dao) DeleteByIds(ids []string) (err error) {
    err = global.GOrmDao.Delete(&[]{{.StructName}}{}, "id in ?", ids).Error
    return err
}

// Update 更新{{.StructName}}记录
// Author {{.Author}}
func (dao *{{.StructName}}Dao) Update({{.ObjectName}} {{.StructName}}) (err error) {
    err = global.GOrmDao.Updates(&{{.ObjectName}}).Error
    return err
}

// Get 根据id获取{{.StructName}}记录
// Author {{.Author}}
func (dao *{{.StructName}}Dao) Get(id string) (err error, {{.ObjectName}} *{{.StructName}}) {
    err = global.GOrmDao.Where("id = ?", id).First(&{{.ObjectName}}).Error
    return
}

// Page 分页获取{{.StructName}}记录
// Author {{.Author}}
func (dao *{{.StructName}}Dao) Page(param *{{.StructName}}, page *common.PageInfo) (err error, datas []*{{.StructName}}, total int64) {
    // 创建model
    model := global.GOrmDao.Model(&{{.StructName}}{})
    // 如果有条件搜索 下方会自动创建搜索语句
    //if param.Id != "" {
    //	model = model.Where("ID = ?", param.Id)
    //}
    if err = model.Count(&total).Error; err != nil {
        return
    }
    // 计算分页信息
    page.Calculate()
    // 生成排序信息
    if page.OrderByColumn != "" {
        model.Order(page.OrderByColumn + " " + page.IsAsc + " ")
    }
    err = model.Limit(page.Limit).Offset(page.Offset).Find(&datas).Error
    return err, datas, total
}

// List 获取{{.StructName}}记录
// Author {{.Author}}
func (dao *{{.StructName}}Dao) List(data *{{.StructName}}) (err error, datas []*{{.StructName}}) {
    db := global.GOrmDao.Model(&{{.StructName}}{})
    // TODO 输入查询条件
    //if data.Id != "" {
    //    db.Where("id = ?", data.Id)
    //}
    db.Order("create_time desc")
    err = db.Find(&datas).Error
    return err, datas
}