// Package {{.PackageName}} 自动生成模板 {{.StructName}}
// @description <TODO description class purpose>
// @author {{.Author}}
// @File: {{.FileName}}
// @version 1.0.0
// @create {{.DateTime}}
package {{.PackageName}}

import (
    "time"
)

// {{.StructName}} 结构体

type {{.StructName}} struct {
{{range .Table.Columns}}
    {{.FieldName}} {{.FieldType}} `json:"{{.JsonField}}" form:"{{.JsonField}}" gorm:"column:{{.Code}};comment:{{.Comment}};{{if .Size}}size:{{.Size}};{{end}}"`
{{end}}
}

// TableName {{.StructName}} 表名
func ({{.StructName}}) TableName() string {
  return "{{.Table.Code}}"
}
