// Package {{.PackageName}} 自动生成模板 {{.StructName}}Service
// @description <TODO description class purpose>
// @author {{.Author}}
// @File: {{.FileName}}
// @version 1.0.0
// @create {{.DateTime}}
package {{.PackageName}}

import (
    "{{.ImportPath}}/common"
    "{{.ImportPath}}/{{.CodePath}}/{{.ModuleName}}/{{.FileName}}/model"
    "{{.ImportPath}}/{{.CodePath}}/{{.ModuleName}}/{{.FileName}}/service/view"
)
var {{.ObjectName}}Dao = model.{{.StructName}}DaoApp
var viewUtils = view.{{.StructName}}ViewUtilsApp

type {{.StructName}}Service struct {}

// Create 创建{{.StructName}}记录
// Author {{.Author}}
func ({{.ObjectName}}Service *{{.StructName}}Service) Create({{.ObjectName}}View *view.{{.StructName}}View) (err error) {
    err1, {{.ObjectName}} := viewUtils.View2Data({{.ObjectName}}View)
    if err1 != nil {
        return err1
    }
    err2 := {{.ObjectName}}Dao.Create(*{{.ObjectName}})
    if err2 != nil {
        return err2
    }
        return nil
    }

// Delete 删除{{.StructName}}记录
// Author {{.Author}}
func ({{.ObjectName}}Service *{{.StructName}}Service) Delete(id int) (err error) {
    err = {{.ObjectName}}Dao.Delete(id)
        return err
    }

// DeleteByIds 批量删除{{.StructName}}记录
// Author {{.Author}}
func ({{.ObjectName}}Service *{{.StructName}}Service) DeleteByIds(ids []int) (err error) {
    err = {{.ObjectName}}Dao.DeleteByIds(ids)
        return err
    }

// Update 更新{{.StructName}}记录
// Author {{.Author}}
func ({{.ObjectName}}Service *{{.StructName}}Service) Update(id int, {{.ObjectName}}View *view.{{.StructName}}View) (err error) {
    {{.ObjectName}}View.Id = id
    err1, {{.ObjectName}} := viewUtils.View2Data({{.ObjectName}}View)
    if err1 != nil {
        return err1
    }
    err = {{.ObjectName}}Dao.Update(*{{.ObjectName}})
        return err
    }

// Get 根据id获取{{.StructName}}记录
// Author {{.Author}}
func ({{.ObjectName}}Service *{{.StructName}}Service) Get(id int) (err error, {{.ObjectName}}View *view.{{.StructName}}View) {
    err1, {{.ObjectName}} := {{.ObjectName}}Dao.Get(id)
    if err1 != nil {
        return err1, nil
    }
    err2, {{.ObjectName}}View := viewUtils.Data2View({{.ObjectName}})
    if err2 != nil {
        return err2, nil
    }
        return
}

// Find 分页获取{{.StructName}}记录
// Author {{.Author}}
func ({{.ObjectName}}Service *{{.StructName}}Service) Find(info *common.PageInfoV2) (err error) {
    err1, {{.ObjectName}}s, total := {{.ObjectName}}Dao.Find(info)
    if err1 != nil {
        return err1
    }
    info.Total = total
    err2, viewList := viewUtils.Data2ViewList({{.ObjectName}}s)
    if err2 != nil {
        return err2
    }
    info.FormList = viewList
    return err
}