// Package {{.PackageName}}
// @description <TODO description class purpose>
// @author {{.Author}}
// @File: {{.FileName}}
// @version 1.0.0
// @create {{.DateTime}}
package {{.PackageName}}

var {{.StructName}}ServiceApp = new ({{.StructName}}Service)