// Package {{.PackageName}}
// @description <TODO description class purpose>
// @author {{.Author}}
// @File: {{.FileName}}
// @version 1.0.0
// @create {{.DateTime}}
package {{.PackageName}}

import (
    "{{.ImportPath}}/common"
)
type {{.StructName}}ViewPage struct{
    {{.StructName}}View
    common.PageInfoV2
}