// Package {{.PackageName}}
// @description <TODO description class purpose>
// @author {{.Author}}
// @File: {{.FileName}}
// @version 1.0.0
// @create {{.DateTime}}
package {{.PackageName}}

import (
    request2 "{{.ProjectName}}/common/request"
)
type {{.StructName}}ViewPage struct{
    {{.StructName}}View
    request2.PageInfo
}